* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
body,
html {
  height: 100%;
}

.background {
  background-image: linear-gradient(45deg, rgb(7, 171, 56), rgb(0, 178, 198));
}

.full {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100%;
}

.gap-sm {
  gap: 5px;
}

.gap-md {
  gap: 0.7rem;
}

.images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 80% 10%;
}

.flex-col {
  flex-direction: column;
}
#image-container {
  flex-wrap: wrap;
  overflow: hidden;
}

.input-group {
  display: flex;
  color: white;
  font-weight: thinner;
  font-size: 1.1rem;
  width: 60vmin;
  margin-bottom: 1rem;
}
.value-text {
  font-size: 0.9rem;
}

.align-center {
  align-items: center;
  justify-content: start;
}

.description {
  color: white;
  font-size: 1.1rem;
}

.inputs-box {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.3vmin;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition-duration: 300ms;
  justify-content: start;
  align-items: center;
}

#loading-bar {
  margin-top: 1rem;
  border-radius: 0.3vmin;
  background-color: transparent;
  width: 50vmin;
  height: 3vmin;
  border: 1px solid white;
}
#loading-bar::-moz-progress-bar,
#loading-bar::-webkit-progress-value,
#loading-bar::-webkit-progress-bar {
  background-color: white;
  border-radius: 0.3vmin;
}
.buttons {
  padding: 1rem;
}

.btn {
  width: 20vmin;
  height: 5vmin;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.3vmin;
  font-weight: bold;
  color: white;
  transition-duration: 300ms;
  &:hover {
    background-color: rgba(0, 178, 198, 0.5);
    border-color: rgb(174, 241, 248);
  }
}

.disabled {
  border-color: rgba(120, 120, 120, 0.3);
  color: rgba(120, 120, 120, 0.3);
  pointer-events: none;
}
